body{
    background: radial-gradient(blue,purple);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body h1{
    font-family: comic sans ms;
    text-align: center;
    color: antiquewhite;
}
form table{
    width: 60%;
    margin: 2px auto;
}
form table caption{
    font-size: 22px;
    color: aquamarine;
    padding: 20px;
}
form table th, td{
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 2px solid darkred;
    padding: 3px;
}
input{
    background-color: rgb(207, 159, 88);
}